<p class="byline brandon-body">Join my newsletter to win free dog treats and toys!</p>

<%= form_for @user, :url => { :action => "create" }, html: { id: "email-form" } do |f| %>
  <%= f.text_field :email, :placeholder => "Enter your email", :class => "email brandon" %>

  <input
    class="submit brandon-button g-recaptcha"
    name="commit"
    type="submit"
    value="Let's Go"
    data-sitekey="6LcsSlsUAAAAAC07KUDKpdwqa42lig6dYuvPHAgN"
    data-callback="onSubmit"
  />
<% end %>
<p class="ps brandon-body">psst...your dog will thank you for signing up ;) <span style="color: #aaaaaa;">&mdash;</span> <img class="paw" src="<%= asset_path('home/paw-icon.png')%>"></p>

<script>
  function onSubmit(token) {
    document.getElementById("email-form").submit();
  }
</script>
